body{
    background-color: black;
}

.head{
    background-color: blue;
    font-family: Roboto;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: aquamarine
    
}

h2{
    background-color: green;
    color: yellow;
    text-align: center;
    border-radius: 5px;
    border-left: 5px solid red;
}
h3{
    color: goldenrod;
    margin-top: 25px;
}
audio{
    width: 100%;
    border-radius:  50px; 
    
    border: 2px solid  rgb(255, 0, 119);
    
    
    box-shadow: 20px 6px 30px rgb(255, 0, 119);
    
}
img{
    margin-right: 80px;
    height: 290px;
    border: 2px solid red;
    
    border-radius: 5px;
}
video{
    align-self: center;
    height: 250px;
    width: 390px;
    border: 1px solid red;
}
ins{
    color: mediumseagreen;
}
mark{
    background-color: red;
}
p{
    color: lightskyblue;
    font-family: "Roboto";
}